# Python virtual environment
qwen_env/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# WSL specific
.wslconfig

# Qwen-VL specific
Qwen-VL/
data/
*.pt
*.bin
*.pth 